
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GameFacto.Core.Entities.Category>

<div class="card">
    <div class="card-header bg-info text-white">
        <h3 class="card-title">Kategori Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="categoryTable" @*class="table table-bordered table-striped"*@ class="table table-striped table-hover table-bordered w-100">
            <thead>
                <tr>
                    @*<th>Personel Tc</th>*@
                    <th>Kategori Adı</th>
                    <th>Açıklaması</th>
                    <th>Ana kategori</th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <th>@item.ParentCategory?.Name</th>
                        </tr>

                    }

                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->

</div>


<script src="/template/plugins/jquery/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $('#categoryTable').DataTable();
    });

</script>



